.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
background: goldenrod;
width: 9rem;
margin-left: 0px;

height: calc(100vh - 52px);
}

.item{
  display: flex;
  justify-content: space-around;
  border: 0.5rem darkcyan solid;
}

.sidebar{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}