.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
background: goldenrod;
width: 9rem;
margin-left: 10px;

height: calc(100vh - 52px);
}

.item{
  border: 5px pink solid;
  gap: 10%;
    width: 100px;
    height: 30px;
    margin: 0px;
}