.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
background: goldenrod;
width: 9rem;
margin-left: 0px;

height: calc(100vh - 52px);
}

.Link{
  display: flex;
  justify-content: space-around;
}

.Link .item{
  display: flex;
  justify-content: center;
  outline: red 0.2rem solid;
}


.sidebar{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}